{% extends "base.html" %}
{% load static %}
{% block base %}
{% include 'component/navbar.html' %}
<header class='hero mt-2 rounded-top-3'>
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="row">
      <div class="col-md-5 p-5">
        <p class='h1 text-white' data-aos="fade-up" data-aos-duration="1000">Les enfants sont les graines de l’avenir.
        </p>
        <p class='text-white mb-4' data-aos="fade-up" data-aos-duration="1000">Soutenons l’éducation et la protection
          des enfants vulnérables en RDC. Offrons-leur un accès à des écoles
          sécurisées, des soins de santé essentiels et un avenir où leurs droits sont respectés, pour qu’ils puissent
          grandir et s’épanouir dans un environnement qui croit en leur potentiel.</p>
        <a class='btn btn-success'>Soutenez nous</a>
        <a class='btn btn-success'>Je deviens bénévole</a>
      </div>
    </div>
  </div>
</header>
<section class='p-5'>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="container">
          <h1 class='text-center'>Pourquoi la Fondation Arlette Sita ?</h1>
          <h4 class='text-center mb-4'>Une réponse aux besoins de notre société.</h4>
          <p class='text-muted text-center'>Dans un souci profond de contribuer à l’évolution de la République
            Démocratique du Congo (RDC) et conscients des défis auxquels notre population est confrontée, nous avons
            créé la Fondation Arlette Sita (FAS). Cette ONGD naît d’une volonté de répondre aux besoins croissants des
            enfants vulnérables, des orphelins et des communautés rurales ou urbaines, en s’appuyant sur les valeurs de
            solidarité et de justice sociale.</p>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h4 class="text-center mb-4">Pourquoi agir ?</h4>
          </div>
          <div class="col-md-4 mb-3" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
            <div class="card motivation-card p-4 text-center">
              <div class="card-body">
                <h5 class="card-title">Répondre aux besoins accrus</h5>
                <p class="card-text">Soutenir les populations rurales et urbaines face à leurs défis quotidiens.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
            <div class="card motivation-card p-4 text-center">
              <div class="card-body">
                <h5 class="card-title">Offrir un avenir aux enfants</h5>
                <p class="card-text">Accompagner les enfants vulnérables et orphelins vers un mieux-être.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
            <div class="card motivation-card p-4 text-center">
              <div class="card-body">
                <h5 class="card-title">Relever la nation congolaise</h5>
                <p class="card-text">Participer au développement social à travers des actions concrètes.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-delay="600" data-aos-duration="500">
            <div class="card motivation-card p-4 text-center">
              <div class="card-body">
                <h5 class="card-title">Sensibiliser aux droits</h5>
                <p class="card-text">Vulgariser les lois protégeant les enfants et combler le manque de connaissance.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3" data-aos="fade-up" data-aos-delay="800" data-aos-duration="500">
            <div class="card motivation-card p-4 text-center">
              <div class="card-body">
                <h5 class="card-title">Transformer par l’action</h5>
                <p class="card-text">Apporter des changements positifs grâce à une fondation dédiée.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container bg-black p-4 rounded-1">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <h5 class="text-success mb-3"><i class="bi bi-bullseye fs-5"></i> Notre mission</h5>
              <p class='text-white mb-3'>La Fondation Arlette Sita a pour mission de mener des actions concrètes et de
                mobiliser des
                efforts en faveur du bien-être des Congolais et Congolaises, en particulier des enfants vulnérables et
                des orphelins, afin de leur offrir un avenir meilleur.</p>
              <a href="" class='btn btn-success'>En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class='bg-success p-5 mb-5'>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2 class="fw-bold text-center text-white">Nos domaines d'intervention</h2>
        <p class="text-white text-center mb-4">Nous agissons pour un avenir meilleur.</p>
        <div class="row">
          <div class="col-md-4 text-white text-center mb-3" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
            <i class="bi bi-shield-check fs-1"></i>
            <p class='fw-medium fs-5'>Porter de l'entraide aux enfants vulnérables</p>
            <p>Nous apportons soutien et espoir aux enfants vulnérables en leur offrant éducation, soins et un cadre
              sécurisé pour un avenir meilleur.</p>
          </div>
          <div class="col-md-4 text-white text-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
            <i class="bi bi-book fs-1 text-center"></i>
            <p class='fw-medium fs-5'> La formation de ces enfants à l'alphabétisation</p>
            <p>Nous formons les enfants vulnérables à la lecture et à l'écriture pour leur offrir un avenir meilleur.
            </p>
          </div>
          <div class="col-md-4 text-white text-center" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
            <i class="bi bi-backpack text-center fs-1"></i>
            <p class='fw-medium fs-5'>Assistance à tout le niveau des enfants mineurs et vulnérables</p>
            <p>
              Nous offrons protection et soutien aux enfants mineurs et vulnérables pour garantir leur sécurité et
              éducation.
            </p>
          </div>
        </div>
      </div>
</section>

{% include "component/footer.html" %}

{% endblock base %}