{% extends "faspanel.html" %}

{% block faspanel %}

<div class="row justify-content-center">
  <div class="col-md-9">
    <p class='fw-medium'><i class="bi bi-list-nested fs-5"></i> Liste d'événements</p>
    <div class='bg-white px-4 py-3 rounded-1'>
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus
        quiaa perferendis possimus magnam. Accusamus, quia dolorum.</p>
      <p class='text-muted small'> <i class="bi bi-calendar-event"></i> 24.11.2001</p>
      <a href="" class='btn btn-sm btn-success'>Consulter</a>
      <a href="" class='btn btn-sm btn-success'>Editer</a>
      <a href="" class='btn btn-sm btn-danger'>Supprimer</a>
    </div>
  </div>
</div>
{% endblock faspanel %}