{% extends "faspanel.html" %}

{% block faspanel %}
<div class="row justify-content-center">
  <div class="col-md-9">
    <p class='fw-medium'><i class="bi bi-person fs-5"></i> Description du profil</p>
    <div class="bg-white px-4 py-3 rounded-1">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <p class='text-muted mb-0'>Nom</p>
          <p>Kisudiku</p>
        </div>
        <div class="col-md-4">
          <p class='text-muted mb-0'>Postnom</p>
          <p>Lubama</p>
        </div>
        <div class="col-md-4">
          <p class='text-muted mb-0'>Prénom</p>
          <p>Elie</p>
        </div>
      </div>
      <div class="row justify-content-center mt-2 mb-3">
        <div class="col-md-4">
          <p class='text-muted mb-0'>Email</p>
          <p>elielubama@gmail.com</p>
        </div>
        <div class="col-md-4">
          <p class='text-muted mb-0'>Rôle</p>
          <p>Admin</p>
        </div>
        <div class="col-md-4">
          <p class='text-muted mb-0'>Statut</p>
          <p><i class="bi bi-check-circle text-success"></i> <span class="badge text-bg-success">Actif</span></p>
        </div>
      </div>
      <a href="" class='btn btn-success mt-2 disabled'>Modifier le profil</a>
      <a href="" class='btn btn-success mt-2 disabled'>Changer le mot de passe</a>
      <a href="" class='btn btn-success mt-2 disabled'>Ajouter un utilisateur</a>
    </div>
  </div>
</div>
{% endblock faspanel %}