{% extends "base.html" %}
{% load static %}

{% block base %}
{% include "component/navbar.html" %}

<header class="header-about d-flex justify-content-center align-items-center text-white mt-2 rounded-top-3">
  <div class="container-fluid">
    <p class='fs-1 text-center fw-medium' data-aos="zoom-in" data-aos-duration="1000"># Réinitialisation du mot de passe
    </p>
  </div>
</header>

<div class="container-fluid alert alert-light mt-5 py-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="container border-1 rounded-2 bg-white p-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert fs-6  text-center {{message.tags}} return-messag" id='alert'>{{message}}</div>
        {% endfor %}
        {% endif %}

        <form method="post" class="needs-validation" novalidate id="customValidationForm">
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class='form-label' >Entrez votre adresse mail, les instructions vous seront envoyés!
              Assurez-vous de vérifier également vos spams.</label>
            <input type="email" name="email" class='form-control' id='email' placeholder="Votre adresse mail"
              pattern="[\-a-zA-Z0-9~!$%^&*_=+\}\{'?]+(\.[\-a-zA-Z0-9~!$%^&*_=+\}\{'?]+)*@[a-zA-Z0-9_][\-a-zA-Z0-9_]*(\.[\-a-zA-Z0-9_]+)*\.[a-zA-Z]{2,5}"
              required>
              <div class="invalid-feedback">Email requis !</div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-success">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static "js/validate_form.js" %}"></script>

{% include "component/footer.html" %}
{% endblock base %}