<h2>Réinitialisation du mot de passe</h2>
<p>Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.</p>

<form method="post">
    {% csrf_token %}
    <label for="email">Email :</label>
    <input type="email" name="email" required>
    <button type="submit">Envoyer</button>
</form>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis consequatur eveniet, quaerat, quasi quia ea cumque provident ducimus minus obcaecati necessitatibus qui et ad, id doloribus hic nemo modi! Corporis!