{% extends "base.html" %} {# Hérite de votre template principal #}

{% block base %}
{% include "component/navbar.html" %}
<header class="header-about d-flex justify-content-center align-items-center text-white mt-2 rounded-top-3">
    <div class="container-fluid">
        <p class='fs-1 text-center fw-medium' data-aos="zoom-in" data-aos-duration="1000"># Email de Réinitialisation
            Envoyé</p>
    </div>
</header>

<div class="container mt-4 p-4">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <p class="lead text-center fs-6">
                Nous avons bien pris en compte votre demande de réinitialisation de mot de passe. Un e-mail contenant un lien sécurisé pour définir un nouveau mot de passe vient de vous être envoyé à l’adresse que vous avez fournie.
            </p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'signin' %}" class="btn btn-success">Retour à la connexion</a>
            </div>
        </div>
    </div>
</div>

{% include "component/footer.html" %}

{% endblock %}