* {
  font-family: "Outfit", serif;
  font-size: 14px;
  letter-spacing: .2px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.877), rgba(20, 135, 39, 0.518)),
    url('../images/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 1%, 100% 30%, 100% 97%, 0 90%, 0% 30%);
}

.motivation-card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
}

  .social-media {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(56, 244, 172);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(56, 244, 172);
    transition: all 0.3s ease-in-out;
  }

  .social-media:hover {
    cursor: pointer;
    background-color: rgb(56, 244, 172);
    color: white;
}