* {
  font-family: "Outfit", serif;
  font-size: 14px;
  letter-spacing: .2px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.877), rgba(20, 135, 39, 0.518)),
    url('../images/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 1%, 100% 30%, 100% 97%, 0 90%, 0% 30%);
}

.motivation-card {
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
}

  .social-media {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(56, 244, 172);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(56, 244, 172);
    transition: all 0.3s ease-in-out;
  }

  .social-media:hover {
    cursor: pointer;
    background-color: rgb(4, 145, 91);
    color: white;
}

.header-about {
  background: linear-gradient(rgb(10, 83, 34), rgba(9, 198, 97, 0.86));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 87%, 0% 50%);
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.bi-list{
  cursor: pointer;
}
.nav-link{
  color: rgb(79, 79, 79);
}

.active-panel{
  background-color: #f1f1f1f2;
  border-radius: 5px;
}

.active-panel a {
  color: rgb(10, 132, 56) !important;
}

td, tr, th{
  font-size: 12px !important;
}

.nav-item:hover .nav-link{
  background-color: #f1f1f1f2;
  border-radius: 5px;
  color: rgb(10, 132, 56) !important;
}