{% load static %}
<footer class="bg-black text-white py-5 mt-5">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-5">
        <a href="" class='navbar-brand d-flex fs-6'>
          <img src="{% static 'images/logo.png' %}" alt="Logo de la Fondation Arlette Sita" width="48" height="48"
            class="d-inline-block align-text-top me">
          <div>
            <span class='fw-bold'>FAS</span>
            <small class='d-block'>Fondation Arlette Sita</small>
          </div>
        </a>
        <p class='mt-3'>La Fondation Arlette Sita a pour mission de mener des actions concrètes et de mobiliser des
          efforts en faveur du bien-être des Congolais et Congolaises, en particulier des enfants vulnérables et des
          orphelins, afin de leur offrir un avenir meilleur.</p>
      </div>
      <div class="col-md-4">
        <p class='fs-5 fw-medium'>Liens rapides</p>
        <ul class="list-unstyled">
          <li><a href="{% url "index" %}" class="text-white text-decoration-none">Accueil</a></li>
          <li><a href="{% url 'about' %}" class="text-white text-decoration-none">Qui sommes nous ?</a></li>
          <li><a href="{% url 'blog' %}" class="text-white text-decoration-none">Blog</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'faspanel' %}" class="text-white text-decoration-none">Admin</a></li>
          {% endif %}
          <li><a href="{% url 'contact' %}" class="text-white text-decoration-none">Contact</a></li>
          <li><a href="{% url 'add_volunteer' %}" class="text-white text-decoration-none">Je deviens bénévole</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <p class='fs-5 fw-medium'>Contactez-nous</p>
        <p class='mb-3'><i class="bi bi-geo fs-5"></i> 90 Avenue Madimba Commune de Bumbu Quartier Mbaki,
          Kinshasa, RDC</p>
        <p class='text-success fw-medium mb-1'><i class="bi bi-envelope fs-5"></i>
          <a href="mailto:contact@fondationarlettesita.org" class='text-decoration-none text-success' target="_blank">
            Envoyer un mail</a>
        </p>
        <p class='text-success fw-medium mb-1'><i class="bi bi-phone fs-5"></i>
          <a href="tel:+243842594558" class='text-decoration-none text-success' target="_blank"> Appeler maintenant</a>
        </p>
        <p class='mb-4 text-success fw-medium'><i class="bi bi-whatsapp fs-5"></i>
          <a href="https://wa.me/243998346012" class='text-decoration-none text-success' target="_blank"> Discuter sur
            WhatsApp</a>
        </p>

        <p class='mb-0'>Retrouvez toutes nos actions sur</p>
        <div class="d-flex mt-4">
          <a href="https://www.linkedin.com" target="_blank" class="social-media me-3" aria-label="LinkedIn">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="social-media me-3" aria-label="Twitter">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://www.facebook.com" target="_blank" class="social-media me-3" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.youtube.com" target="_blank" class="social-media me-3" aria-label="YouTube">
            <i class="bi bi-youtube"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank" class="social-media" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">&copy; 2025 Fondation Arlette Sita - Tous droits réservés.</p>
    </div>
  </div>
</footer>