{% load static %}
<footer class="bg-black text-white py-5 mt-5">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-5">
        <a href="" class='navbar-brand d-flex fs-6'>
          <img src="{% static 'images/logo.png' %}" alt="Logo de la Fondation Arlette Sita" width="48" height="48"
            class="d-inline-block align-text-top me">
          <div>
            <span class='fw-bold'>FAS</span>
            <small class='d-block'>Fondation Arlette Sita</small>
          </div>
        </a>
        <p class='mt-3'>La Fondation Arlette Sita a pour mission de mener des actions concrètes et de mobiliser des
          efforts en faveur du bien-être des Congolais et Congolaises, en particulier des enfants vulnérables et des
          orphelins, afin de leur offrir un avenir meilleur.</p>
      </div>
      <div class="col-md-4">
        <p class='fs-6 fw-medium'>Liens rapides</p>
        <ul class="list-unstyled">
          <li><a href="" class="text-white text-decoration-none">Accueil</a></li>
          <li><a href="" class="text-white text-decoration-none">Qui sommes nous ?</a></li>
          <li><a href="" class="text-white text-decoration-none">Actualités</a></li>
          <li><a href="" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <p class='fs-6 fw-medium'>Nous contacter !</p>
        <p class='mb-1'><i class="bi bi-envelope-open fs-6"></i> contact@fondationarlettesita.com</p>
        <p><i class="bi bi-phone fs-6"></i> +243 999 549 703</p>

        <p class='mb-'>Retrouvez toutes nos actions sur</p>
        <div class="d-flex mt-4">
          <a href="https://www.linkedin.com" class="social-media me-3"><i class="bi bi-linkedin"></i></a>
          <a href="https://twitter.com" class="social-media me-3"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.facebook.com" class="social-media me-3"><i class="bi bi-facebook"></i></a>
          <a href="https://www.youtube.com" class="social-media me-3"><i class="bi bi-youtube"></i></a>
          <a href="https://www.instagram.com" class="social-media"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">&copy; 2025 Fondation Arlette Sita - Tous droits réservés.</p>
    </div>
  </div>
</footer>