{% load static %}
<nav class='navbar navbar-expand-md bg-body-tertiary sticky-top'>
  <div class="container">
    <a href="{% url "index" %}" class='navbar-brand d-flex justify-content-center align-items-center fs-6'>
      <img src="{% static 'images/logo.png' %}" alt="Logo de la Fondation Arlette Sita" width="48" height="48"
        class="d-inline-block align-text-top me-2">
      <div>
        <span class='fw-bold'>FAS</span>
        <small class='d-block'>Fondation Arlette Sita</small>
      </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <a href="" class='navbar-brand d-flex justify-content-center align-items-center fs-6'>
          <img src="{% static 'images/logo.png' %}" alt="Logo de la Fondation Arlette Sita" width="48" height="48"
            class="d-inline-block align-text-top me-2">
          <div>
            <span class='fw-bold'>FAS</span>
            <small class='d-block'>Fondation Arlette Sita</small>
          </div>

        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class='offcanvas-body'>
        <ul class='navbar-nav justify-content-end flex-grow-1 pe-3'>
          <li class="nav-item">
            <a class="nav-link p-2 {% if active == 'index' %}active-panel{% endif %}"
              href='{% url "index" %}'>Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 {% if active == 'about' %}active-panel{% endif %}" href='{% url "about" %}'>Qui
              sommes nous
              ?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 {% if active == 'blog' %}active-panel{% endif %}" href='{% url "blog" %}'>Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 {% if active == 'contact' %}active-panel{% endif %}"
              href='{% url "contact" %}'>Contact</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link p-2" href='{% url "faspanel" %}'>Admin</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger mx-2" href="{% url 'logout' %}"><i class="bi bi-power"></i> Déconnexion</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-success mx-2" href='{% url 'signin' %}'><i class="bi bi-person-circle"></i> Mon
              espace</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>