{% load static %}
<nav class='navbar navbar-expand-md bg-body-tertiary sticky-top'>
  <div class="container">
    <a href="" class='navbar-brand d-flex justify-content-center align-items-center fs-6'>
      <img src="{% static 'images/logo.png' %}" alt="Logo de la Fondation Arlette Sita" width="48" height="48"
        class="d-inline-block align-text-top me-2">
      <div>
        <span class='fw-bold'>FAS</span>
        <small class='d-block'>Fondation Arlette Sita</small>
      </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <a href="" class='navbar-brand d-flex justify-content-center align-items-center fs-6'>
          <img src="{% static 'images/logo.png' %}" alt="Logo de la Fondation Arlette Sita" width="48" height="48"
            class="d-inline-block align-text-top me-2">
          <div>
            <span class='fw-bold'>FAS</span>
            <small class='d-block'>Fondation Arlette Sita</small>
          </div>

        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class='offcanvas-body'>
        <ul class='navbar-nav justify-content-end flex-grow-1 pe-3'>
          <li class="nav-item">
            <a class="nav-link {% if active == 'index' %}active{% endif %}" href=''>Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=''>Qui sommes nous ?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=''>Actualités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=''>Contact</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success" href=''>Se connecter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>